$avatar-border-col: #ffffff;
$avatar-bg-col: #f9f9f9;
$avatar-shadow-col: rgba(0,0,0,0.50);

$text-col: #574646;
$hint-text-col: #A37171;
$input-border-col: #979797;

$hilit-line-col: #78A5D6;

$default-button-col: rgba(25,65,109,0.69);
$cancel-button-col: rgba(105,46,40,0.69);

$card-gradient-hi-col: #ffffff;
$card-gradient-lo-col: rgba(255,255,255,0.79);
$card-shadow-col: rgba(0,0,0,0.3);
$card-bevel-col: $card-gradient-hi-col;

$light-label-col: #E1DBDB;

$bg-gradient-fill: radial-gradient(circle farthest-corner at 11% 11%, #a37171 0%, #8e6565 28%, #795959 56%, #745757 62%, #574646 100%);